<form id="new_user">
  <input type="text" name="user[first_name]" id="user_first_name" placeholder="first name">
  <input type="text" name="user[last_name]" id="user_last_name"  placeholder=" last name">
  <input type="number" name="user[phone_number]" id="user_phone" placeholder="phone">
  <input type="submit">

</form>

<table class="table striped table-responsive">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
  </thead>
  <tbody id="user">

  </tbody>
</table>
